.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container{
    width: 1600px;

    color: #BEFF00;
}

.title{
    font-family: 'BB';
    font-size: 150px;
    font-weight: 400;
    line-height: 155px;
    text-align: left;
    max-width: 859px;
    margin-top: 70px;
}

.text{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(129, 136, 110, 1);
    max-width: 950px;
}

.text__container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.text__container:first-of-type{
    margin-top: 130px;
}

.text__container:last-of-type{
    margin-bottom: 260px;
}


@media screen and (max-width:1280px){
    .main__container{
        width: 1064px;
    }

    .title{
        font-size: 100px;
        line-height: 104px;
        max-width: 573px;
        margin-top: 50px;
    }

    .text{
        font-size: 17px;
        line-height: 21px;
        max-width: 630px;
    }

    .text__container{
        gap: 25px;
    }

    .text__container:first-of-type{
        margin-top: 85px;
    }

    .text__container:last-of-type{
        margin-bottom: 170px;
    }

}

@media screen and (max-width:768px){
    .main__container{
        width: 638px;
    }

    .title{
        font-size: 60px;
        line-height: 62px;
        max-width: 344px;
        margin-top: 70px;
    }

    .text{
        font-size: 11px;
        line-height: 13px;
        max-width: 378px;
    }

    .text__container{
        gap: 20px;
    }

    .text__container:first-of-type{
        margin-top: 70px;
    }

    .text__container:last-of-type{
        margin-bottom: 100px;
    }
}