.container{
    display: flex;
    gap: 130px;
}

.title{
    font-family: 'BB';
    font-size: 150px;
    font-weight: 400;
    line-height: 155px;
    text-align: left;
}

.text{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 70px;
    max-width: 642px;
}

.video{
    margin-top: 225px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-bottom: 189px;
}

@media screen and (max-width:1440px){
    .container{
        gap: 108px;
    }

    .title{
        font-size: 100px;
        line-height: 104px;
    }

    .text{
        font-size: 17px;
        line-height: 21px;
        margin-top: 50px;
        max-width: 414px;
    }

    .video{
        margin-top: 150px;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
        margin-bottom: 154px;
        width: 542px;
        height: 359px;
}
}

