.block{
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: max-content;
    padding-bottom: 150px;
    margin: 0;
    width: 1596px;
}

.title{
    font-family: 'BB';
    font-size: 150px;
    font-weight: 400;
    line-height: 155px;
    text-align: left;
    margin-top: 130px;
}

.text{
    max-width: 303px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 35px;
}

.qr__container_link{
    display: block;
    width: 313px;
    height: 310px;
}

.qr__container{
    margin-top: 70px;
}

.qr__svg{
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

.qr__svg:hover{
    width: 305px;
    height: 305px;
    align-self: center;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

.qr__svg:active path{
    fill: rgba(129, 136, 110, 1);
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

.qr__svg:active rect{
    stroke: rgba(129, 136, 110, 1);
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

.picBack{
    position: absolute;
    top: 0;
    right: -170px;
    z-index: -1;
    height: 1112px;
}

.picBackMob{
    display: none;
}


@media screen and (max-width:1280px) {
    .block{
        padding-bottom: 100px;
        width: 1064px;
    }

    .title{
        font-size: 100px;
        line-height: 104px;
        margin-top: 85px;
    }

    .text{
        max-width: 197px;
        font-size: 17px;
        line-height: 21px;
        margin-top: 25px;
    }

    .qr__container_link{
        display: block;
        width: 217px;
        height: 215px;
    }
    
    .qr__container{
        margin-top: 70px;
    }
    
    .qr__svg{
        transition: .1s ease-in-out;
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -ms-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
    }
    
    .qr__svg:hover{
        width: 205px;
        height: 205px;
        align-self: center;
        transition: .1s ease-in-out;
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -ms-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
    }

    .picBack{
        top: 0;
        right: -108px;
        z-index: -1;
        width: 1280px;
        height: 785px;
    }
    .picBackMob{
        display: none;
    }

    .qr__svg{
        width: 217px;
        height: 215px;
    }
}

@media screen and (max-width:1024px) {
    .block{
        padding-bottom: 40px;
        width: 638px;
    }

    .title{
        font-size: 60px;
        line-height: 62px;
        margin-top: 55px;
    }

    .text{
        max-width: 130px;
        font-size: 11px;
        line-height: 13px;
        margin-top: 20px;
    }

    .qr__container_link{
        display: block;
        width: 130px;
        height: 129px;
    }

    .qr__container{
        margin-top: 35px;
    }

    .qr__svg{
        transition: .1s ease-in-out;
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -ms-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
    }
    
    .qr__svg:hover{
        width: 120px;
        height: 120px;
        align-self: center;
        transition: .1s ease-in-out;
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -ms-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
    }

    .picBack{
        top: 0;
        right: -65px;
        z-index: -1;
        width: 768px;
        height: 460px;
    }

    .picBackMob{
        display: none;
    }

    .qr__svg{
        width: 130px;
        height: 129px;
    }
}

@media screen and (max-width:400px) {
    .block{
        width: 100%;
        padding-bottom: 40px;
        // background-image: url('../../../../assets/images/mainPage/picContactsMob.png');
        background-size: cover;
        position: relative;
        margin-top: 174px;
    }

    .title{
        font-size: 50px;
        line-height: 52px;
        margin-top: 0px;

        color:#BEFF00;
        position: absolute;

        top: -130px;
        left: 16px;
    }

    .text{
        max-width: 193px;
        font-size: 17px;
        line-height: 21px;
        margin-top: 15px;
        text-align: center;
        margin-bottom: 111px;
    }

    .qr__container_link{
        width: 130px;
        height: 129px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
    }

    .qr__container{
        margin-top: 260px;

        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
    }

    .qr__svg{
        transition: .1s ease-in-out;
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -ms-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
    }
    
    .qr__svg:hover{
        width: 120px;
        height: 120px;
        align-self: center;
        transition: .1s ease-in-out;
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -ms-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
    }

    .picBack{
        top: 0;
        right: -65px;
        z-index: -1;
        max-width: 768px;
        max-height: 488px;
        display: none;
    }

    .picBackMob{
        display: block;
        position: absolute;
        z-index: -1;
        top:-30px;
        width: 100%;
        height: 738px;
    }

    .qr__svg{
        width: 130px;
        height: 129px;

        justify-self: center;
        align-self: center;
    }
}