.block{
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: max-content;
    padding-bottom: 150px;
}

.title{
    font-family: 'BB';
    font-size: 150px;
    font-weight: 400;
    line-height: 155px;
    text-align: left;
    margin-top: 130px;
}

.text{
    max-width: 303px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 35px;
}

.qr__container{
    margin-top: 70px;
}

.picBack{
    position: absolute;
    top: 0;
    right: -150px;
    z-index: -1;
}

.picBackMob{
    display: none;
}


@media screen and (max-width:1280px) {
    .block{
        padding-bottom: 100px;
    }

    .title{
        font-size: 100px;
        line-height: 104px;
        margin-top: 85px;
    }

    .text{
        max-width: 197px;
        font-size: 17px;
        line-height: 21px;
        margin-top: 25px;
    }

    .qr__container{
        margin-top: 50px;
    }

    .picBack{
        top: 0;
        right: -109px;
        z-index: -1;
        max-width: 1280px;
        max-height: 720px;
    }

    .qr__svg{
        width: 217px;
        height: 215px;
    }
}

@media screen and (max-width:1024px) {
    .block{
        padding-bottom: 40px;
    }

    .title{
        font-size: 60px;
        line-height: 62px;
        margin-top: 55px;
    }

    .text{
        max-width: 130px;
        font-size: 11px;
        line-height: 13px;
        margin-top: 20px;
    }

    .qr__container{
        margin-top: 35px;
    }

    .picBack{
        top: 0;
        right: -65px;
        z-index: -1;
        max-width: 768px;
        max-height: 488px;
    }

    .qr__svg{
        width: 130px;
        height: 129px;
    }
}

@media screen and (max-width:400px) {
    .block{
        width: 100%;
        padding-bottom: 40px;
    }

    .title{
        font-size: 60px;
        line-height: 62px;
        margin-top: 55px;

        color:#BEFF00;
    }

    .text{
        max-width: 193px;
        font-size: 17px;
        line-height: 21px;
        margin-top: 15px;
        text-align: center;
    }

    .qr__container{
        margin-top: 150px;

        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
    }

    .picBack{
        top: 0;
        right: -65px;
        z-index: -1;
        max-width: 768px;
        max-height: 488px;

        display: none;
    }

    .qr__svg{
        width: 130px;
        height: 129px;

        justify-self: center;
        align-self: center;
    }

    .picBackMob{
        width: 390px;
        height: 591px;
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: -15px;
    }
}