.block{
    width: 1600px;
    height: 929px;
    position: relative;
    background-image: url(../../../../assets/images/mainPage/main1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size:auto;
    background-color: rgba(6, 6, 6, 1);
    color: rgba(190, 255, 0, 1);

    display: flex;
    align-items: flex-start;
}

.textInfo{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.mobileText{
    display: none;
}


.heading{
    margin: 0;
    font-family: 'BB';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 124px;

    width: 637px;

    padding-top: 150px;
}

.text{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    width: 477px;

    margin-top: 70px;
}

.button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    background: transparent;
    border: 3px solid #BEFF00;
    border-radius: 15px;

    color: #BEFF00;

    width: 228px;
    height: 74px;
    text-transform: uppercase;

    margin-top: 70px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;

}

.button:hover{
    background-color: rgba(190, 255, 0, 1);
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}


@media screen and (max-width: 1280px){
    .block{
        width: 1280px;
        height: 610px;
        background-size: contain;
    }

    .heading{
        font-size: 80px;
        line-height: 83px;
        padding-top: 95px;
    }

    .textInfo{
        margin-left: 108px;
    }

    .text{
        font-size: 17px;
        line-height: 21px;
        margin-top: 50px;
    }

    .mobileText{
        display: none;
    }


    .button{
        font-size: 12px;
        line-height: 15px;
        border: 1.8px solid #BEFF00;
        border-radius: 9px;
        width: 143px;
        height: 49px;
        margin-top: 50px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
}
}

@media screen and (max-width: 1024px){
    .block{
        width: 768px;
        height: 484px;
        background-size: 100%;
    }

    .heading{
        font-size: 60px;
        line-height: 62px;
        max-width: 319px;
        padding-top: 70px;
    }

    .textInfo{
        margin-left: 65px;
    }

    .text{
        font-size: 11px;
        line-height: 13px;
        margin-top: 35px;
        max-width: 248px;
    }

    .mobileText{
        display: none;
    }

    .button{
        font-size: 8px;
        line-height: 10px;
        border: 1px solid #BEFF00;
        border-radius: 5px;
        width: 88px;
        height: 28px;
        margin-top: 35px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
}

@media screen and (max-width: 400px){
    .block{
        width: 100%;
        height: 447px;
        background-size: cover;
        background-position: -140px center;
    }

    .heading{
        font-size: 50px;
        line-height: 52px;
        max-width: 265px;
        padding-top: 40px;
    }

    .textInfo{
        margin-left: 16px;
    }

    .text{
        display: none;
    }

    .mobileText{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        display: block;
        margin-top: 35px;
        max-width: 248px;
    }

    .button{
        font-size: 14px;
        line-height: 17px;
        border: 1.5px solid #BEFF00;
        border-radius: 9px;
        width: 150px;
        height: 45px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
}
}