.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: smooth;
}

.main__container{
    width: 1600px;
    color: #BEFF00;
    margin-top: 70px;
}

.heading{
    font-family: 'Bb';
    font-size: 150px;
    font-weight: 400;
    line-height: 155px;
    text-align: left;
}

.cart__output{
    margin-top: 70px;
    margin-bottom: 130px
}

.cart__item{
    border-top: 1px solid rgba(58, 58, 58, 1);
    border-bottom: 1px solid rgba(58, 58, 58, 1);
    display: flex;
    flex-direction: row;
    padding: 36px 161px;
    justify-content: space-between;
}

.item__info{
    display: flex;
    flex-direction: row;
    gap: 172px;

}

.item__description{
    width: 400px;
    display: flex;
    flex-direction: row;
    gap: 62px;
}

.item__image{
    width: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.item__nameProperties{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-self: center;
}

.item__properties{
    display: flex;
    gap: 15px;
    align-items: center;
}



.item__name{
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.item__size{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color:rgba(129, 136, 110, 1);
}

.item__color{
    height: 24px;
    width: 24px;
    border-radius: 100px;
    outline: 1px solid white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.cart__item:first-of-type{
    border-top: 2px solid rgba(58, 58, 58, 1);
}

.cart__item:last-of-type{
    border-bottom: 2px solid rgba(58, 58, 58, 1);
}

.item__quantity{
    display: flex;
    gap: 20px;
    align-self: center;
}

.product__quantities{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #81886E;
}

.quantityButton{
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 31px;
    height: 31px;
    padding: 6px;
    border-radius: 100px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.quantityButtonImg{
    width: 19px;
    height: 19px;

}

.quantityButton:hover{
    border: 1px solid #BEFF00;
}

.item__priceDelete{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 164px;
}

.item__price{
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.cart__makeOrder{
    display: flex;
    justify-content: center;
    margin-bottom: 262px;
    gap: 91px;
    align-items: end;
}

.proceed{
    border: 3px solid rgba(190, 255, 0, 1);
    background-color: transparent;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    padding: 25px 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: rgba(190, 255, 0, 1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.proceed:hover{
    color: rgba(0, 0, 0, 1);
    background-color: rgba(190, 255, 0, 1);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.btn__disabled{
    border: 3px solid #3A3A3A;
    background-color: transparent;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    padding: 25px 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #3A3A3A;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.order__price{
    display: flex;
    align-items: end;
    gap: 35px;


    align-items: baseline;
}

.order__text{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(129, 136, 110, 1);
}

.item__delete{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    
}

.button__delete_svg{
    width: 30px;
    height: 46px;
}

.item__delete:hover path{
    stroke: rgba(190, 255, 0, 1);
}

.finalPrice{
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.empty__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #81886E;

    margin-top: 130px;
}




@media screen and (max-width: 1280px){

    .main__container{
        width: 1064px;
        color: #BEFF00;
        margin-top: 50px;
    }

    .heading{
        font-size: 100px;
        line-height: 104px;
    }

    .cart__output{
        margin-top: 50px;
        margin-bottom: 85px
    }

    .cart__item{
        padding: 25px 109px;
    }

    .item__description{
        width: 249px;
        gap: 40px;
    }

    .item__image{
        width: 68px;
        height: 68px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}

    .item__nameProperties{
        gap: 9px;
    }

    .item__properties{
        gap: 15px;
    }

    .item__name{
        font-size: 20px;
        line-height: 24px;
    }

    .item__size{
        font-size: 17px;
        line-height: 21px;
    }

    .item__color{
        height: 16px;
        width: 16px;
        outline: .7px solid white;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
}

    .item__quantity{
        gap: 9px;
    }

    .product__quantities{
        font-size: 17px;
        line-height: 21px;
    }

    .quantityButton{
        width: 18px;
        height: 18px;
        padding: 3px;
    }

    .quantityButtonImg{
        width: 12px;
        height: 12px;
    }

    .quantityButton:hover{
        border: .7px solid #BEFF00;
    }

    .item__priceDelete{
        gap: 104px;
    }

    .button__delete_svg{
        width: 20px;
        height: 24px;
    }

    .item__price{
        font-size: 20px;
        line-height: 24px;
    }

    .cart__makeOrder{
        margin-bottom: 170px;
        gap: 97px;
    }

    .proceed{
        border: 2px solid rgba(190, 255, 0, 1);
        font-size: 12px;
        line-height: 15px;
        padding: 15px 30px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
}

    .btn__disabled{
        border: 2px solid #3A3A3A;
        font-size: 12px;
        line-height: 15px;
        padding: 15px 30px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
    }

    .order__price{
        gap: 25px;
    }

    .order__text{
        font-size: 12px;
        line-height: 15px;
    }

    .finalPrice{
        font-size: 20px;
        line-height: 24px;
    }

    .empty__text{
        font-size: 17px;
        line-height: 21px;
        margin-top: 85px;
    }


}

@media screen and (max-width: 900px){

    .main__container{
        width: 638px;
        color: #BEFF00;
        margin-top: 70px;
    }

    .heading{
        font-size: 60px;
        line-height: 62px;
    }

    .cart__output{
        margin-top: 35px;
        margin-bottom: 70px
    }

    .cart__item{
        padding: 20px 65px;
    }

    .item__info{
        gap: 52px
    }

    .item__description{
        width: 141px;
        gap: 20px;
    }

    .item__image{
        width: 43px;
        height: 43px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
}

    .item__nameProperties{
        gap: 7px;
    }

    .item__properties{
        gap: 7px;
    }

    .item__name{
        font-size: 11px;
        line-height: 13px;
    }

    .item__size{
        font-size: 11px;
        line-height: 13px;
    }

    .item__color{
        height: 9px;
        width: 9px;
        outline: .7px solid white;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
}

    .item__quantity{
        gap: 7px;
    }

    .product__quantities{
        font-size: 11px;
        line-height: 13px;
    }

    .quantityButton{
        width: 14px;
        height: 14px;
        padding: 0;
    }

    .quantityButtonImg{
        width: 9px;
        height: 9px;
    }

    .quantityButton:hover{
        border: .7px solid #BEFF00;
    }

    .item__priceDelete{
        gap: 65px;
    }

    .button__delete_svg{
        width: 16px;
        height: 13px;
    }

    .item__price{
        font-size: 11px;
        line-height: 13px;
    }

    .cart__makeOrder{
        margin-bottom: 100px;
        gap: 48px;
    }

    .proceed{
        border: 1px solid rgba(190, 255, 0, 1);
        font-size: 8px;
        line-height: 10px;
        padding: 9px 18px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .btn__disabled{
        border: 1px solid #3A3A3A;
        font-size: 8px;
        line-height: 10px;
        padding: 9px 18px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .order__price{
        gap: 8px;
    }

    .order__text{
        font-size: 8px;
        line-height: 10px;
    }

    .finalPrice{
        font-size: 11px;
        line-height: 13px;
    }

    .empty__text{
        font-size: 11px;
        line-height: 13px;
        margin-top: 70px;
    }


}

@media screen and (max-width: 400px){

    .main__container{
        width: 361px;
        color: #BEFF00;
        margin-top: 80px;
    }

    .heading{
        font-size: 50px;
        line-height: 52px;
    }

    .cart__output{
        margin-top: 35px;
        margin-bottom: 20px
    }

    .cart__item{
        padding: 6px 0px;
    }

    .item__info{
        gap: 53px
    }

    .cart__item:first-of-type{
        border-top: 1px solid rgba(58, 58, 58, 1);
    }
    
    .cart__item:last-of-type{
        border-bottom: 1px solid rgba(58, 58, 58, 1);
    }

    .cart__item{
        border-bottom: 0.5px solid rgba(58, 58, 58, 1);
        border-top: 1px solid rgba(58, 58, 58, 1);
    }

    .item__description{
        width: 131px;
        gap: 15px;
    }

    .item__image{
        width: 38px;
        height: 38px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }

    .item__nameProperties{
        gap: 6px;
    }

    .item__properties{
        gap: 6px;
    }

    .item__name{
        font-size: 11px;
        line-height: 13px;
    }

    .item__size{
        font-size: 11px;
        line-height: 13px;
    }

    .item__color{
        height: 9px;
        width: 9px;
        outline: .7px solid white;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }

    .item__quantity{
        gap: 6px;
    }

    .product__quantities{
        font-size: 11px;
        line-height: 13px;
    }

    .quantityButton{
            width: 10px;
            height: 10px;
            padding: 0;
            display: none;
    }

    .quantityButtonImg{
        width: 5px;
        height: 5px;
    }

    .quantityButton:hover{
        border: .7px solid #BEFF00;
    }

    .item__priceDelete{
        gap: 28px;
    }

    .button__delete_svg{
        width: 17px;
        height: 20px;
    }

    .item__price{
        font-size: 11px;
        line-height: 13px;
    }

    .cart__makeOrder{
        margin-bottom: 100px;
        flex-direction: column-reverse;
        gap: 35px;
        align-items: center;
        justify-content: center;
    }

    .proceed{
        border: 1px solid rgba(190, 255, 0, 1);
        font-size: 14px;
        line-height: 17px;
        padding: 14px 30px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
}

    .btn__disabled{
        border: 1px solid #3A3A3A;
        font-size: 14px;
        line-height: 17px;
        padding: 14px 30px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
    }

    .order__price{
        gap: 8px;
        align-self: end;
        margin-right: 43px;
    }

    .order__text{
        font-size: 11px;
        line-height: 13px;
    }

    .finalPrice{
        font-size: 11px;
        line-height: 13px;
    }

    .empty__text{
        font-size: 11px;
        line-height: 13px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}