.scrollToTopBtn{
    position: sticky;
    bottom: 70px;
    margin-right: -100px;
    float: right;
    cursor: pointer;

    background-color: transparent;

    outline: none;
    border: none;
}

.buttonSvg{
    width: 70px;
    height: 70px;

    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease
}

.scrollToTopBtn:hover .buttonSvg{
    fill: #BEFF00;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.scrollToTopBtn:hover .buttonSvg path{
    fill: #000;

    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease
}



@media screen and (max-width:1280px){
    .scrollToTopBtn{
        position: sticky;
        bottom: 50px;
        margin-right: -80px;
        float: right;
    }

    .buttonSvg{
        width: 47px;
        height: 47px;
    }
}

@media screen and (max-width:768px){
    .scrollToTopBtn{
        position: sticky;
        bottom: 35px;
        margin-right: -35px;
        float: right;
    }

    .buttonSvg{
        width: 28px;
        height: 28px;
    }
}

@media screen and (max-width:400px){
    .scrollToTopBtn{
        display: none;
    }

    .buttonSvg{
        display: none;
    }
}