.footer{
    background: rgba(190, 255, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 190px;

    margin-top: auto;
}

.footer__fix{
    width: 1596px;
    align-items: flex-start;
}


.footer__wrapper{
    display: flex;
    justify-content: flex-start;
}

.footer__connection{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.footer__connection__point{
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 4px;

}

.numbers:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 5px;

    cursor: pointer;
}

.point__accent{
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.footer__logo{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 206px;
    margin-right: 195px;
    gap: 15px;
}

.logo{
    width:120px;
    height: 81px;
    align-self: center;
}

.logo__name{
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}


.footer__navigation__list{
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    gap: 15px;
    flex-wrap: wrap;
    column-gap: 74px;
}

.nav{
    display: flex;
    gap: 74px;
}

.footer__link{
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
}

.footer__link:hover{
    border-bottom: 2px solid #000;
}

.bold{
    font-weight: bold;
}

.tel{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}


@media screen and (max-width:1280px) {

    .footer{
        height: 128px;
    }

    .footer__fix{
        width: 1064px;
        align-items: flex-start;
    }

    .footer__connection{
        gap: 10px;
    }

    .footer__connection__point{
        font-size: 17px;
        line-height: 21px;
        padding-bottom: 4px;

    }

    .numbers:hover{
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        padding-bottom: 5px;

        cursor: pointer;
    }

    .point__accent{
        font-size: 17px;
        line-height: 21px;
    }

    .footer__logo{
        margin-left: 147px;
        margin-right: 140px;
        gap: 9px;
    }

    .logo{
        width:70px;
        height: 55px;
    }

    .logo__name{
        font-size: 12px;
        line-height: 15px;
    }

    .footer__navigation__list{
        font-size: 17px;
        line-height: 21px;
        gap: 9px;
    }

    .nav{
        gap: 32px;
    }

}

@media screen and (max-width:1024px) {

    .footer{
        display: flex;
        height: 93px;
    }
    
    .footer__fix{
        width: 638px;
        align-items: flex-start;
    }

    .footer__connection{
        gap: 7px;
    }

    .footer__connection__point{
        font-size: 11px;
        line-height: 13px;
        padding-bottom: 4px;

    }

    .numbers:hover{
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        padding-bottom: 3px;
        cursor: pointer;
    }

    .point__accent{
        font-size: 11px;
        line-height: 13px;
    }

    .footer__logo{
        margin-left: 68px;
        margin-right: 78px;
        gap: 7px;
    }

    .logo{
        width:45px;
        height: 36px;
    }

    .logo__name{
        font-size: 8px;
        line-height: 10px;
    }

    .footer__navigation__list{
        font-size: 11px;
        line-height: 13px;
        gap: 7px;
    }

    .nav{
        gap: 16px;
    }

    .footer__link:hover{
        border-bottom: 1px solid #000;
    }

}

@media screen and (max-width:400px) {

    .footer{
        height: 121px;
    }
    
    .footer__fix{
        width: 361px;
    }

    .footer__connection{
        gap: 10px;
    }

    .footer__connection__point{
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 2px;

    }

    .numbers:hover{
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        padding-bottom: 2px;
        cursor: pointer;
    }

    .point__accent{
        font-size: 11px;
        line-height: 13px;
    }

    .footer__logo{
        margin-left: 29px;
        margin-right: 0;
        gap: 0px;
    }

    .logo{
        width:86px;
        height: 68px;
    }

    .logo__name{
        display: none;
    }

    .nav{
        display: none;
    }

    .footer__navigation__list{
        display: none;
    }
}