.block{
    position: relative;
    height: 1080px;

    padding-top: 130px;
}

.title{
    font-family: 'BB';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 155px;

    color: #BEFF00;
}

.textContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 70px;
}

.text{
    max-width: 466px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.img{
    top: 0;
    right: -150px;
    position: absolute;
    z-index: -1;

    width: 1113px;
    height: 1080px;
}

.imgMob{
    display: none;
}

@media screen and (max-width: 1280px){
    .block{
        height: 720px;
        padding-top: 80px;
    }

    .title{
        font-size: 100px;
        line-height: 104px;
    }

    .textContainer{
        gap: 30px;
        margin-top: 50px;
    }

    .text{
        max-width: 305px;
        font-size: 17px;
        line-height: 21px;
    }

    .img{
        right: -109px;
        width: 738px;
        height: 720px;
    }

    .imgMob{
        display: none;
    }
}

@media screen and (max-width: 1024px){
    .block{
        height: 488px;
        padding-top: 70px;
    }

    .title{
        font-size: 60px;
        line-height: 62px;
    }

    .textContainer{
        gap: 15px;
        margin-top: 35px;
    }

    .text{
        max-width: 183px;
        font-size: 11px;
        line-height: 13px;
    }

    .img{
        right: -65px;
        width: 443px;
        height: 488px;
    }

    .imgMob{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .block{
        height: 477px;
        padding-top: 40px;
        max-width: 393px;
    }

    .title{
        font-size: 50px;
        line-height: 52px;
    }

    .textContainer{
        gap: 30px;
        margin-top: 35px;
    }

    .text{
        max-width: 361px;
        font-size: 17px;
        line-height: 21px;
    }

    .img{
        display: none;
    }
    
    .imgMob{
        display: flex;
        position: absolute;
        z-index: -1;
        top: 0;
        height: 488px;
        width: 99vw;
        align-self: center;
    }
}