.block{
    position: relative;
    height: 1080px;

    padding-top: 130px;
}

.title{
    font-family: 'BB';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 155px;

    color: #BEFF00;
}

.textContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 70px;
}

.text{
    max-width: 486px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.img{
    top: 0;
    right: -150px;
    position: absolute;
    z-index: -1;

    width: 1113px;
    height: 1080px;
}

@media screen and (max-width: 1600px){
    .block{
        height: 720px;
        padding-top: 80px;
    }

    .title{
        font-size: 100px;
        line-height: 104px;
    }

    .textContainer{
        gap: 30px;
        margin-top: 50px;
    }

    .text{
        max-width: 305px;
        font-size: 12px;
        line-height: 15px;
    }

    .img{
        right: -110px;
        width: 738px;
        height: 720px;
    }
}