
.header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.header__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 151px;
    background-color: black;
}
.header__container{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    z-index: 101;
}
.burger__background{
    display: none;
}
.header__containerLink{
    text-decoration: none;
}
.logo__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo__name{
    font-family: 'Bb';
    font-size: 30px;
    font-weight: 400;
    line-height: 31px;
    color: rgba(190, 255, 0, 1);
}
.header__menu{
    list-style: none;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 94px;
    margin-top: 20px;
}
.header__link{
    text-decoration: none;
    color: #81886E;
    padding-bottom: 5px;
    border-bottom: solid 2px transparent;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
}
.header__link:hover{
    color: rgba(190, 255, 0, 1);
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
}
a{
    text-decoration: none;
    color: #81886E;
}
.header__href:hover{
    color: rgba(190, 255, 0, 1);
    cursor: pointer;
    border-bottom: solid 2px rgba(190, 255, 0, 1);
    padding-bottom: 5px;
}
.cart__length{
    background-color: rgba(190, 255, 0, 1);
    padding: 0 4px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    position: absolute;
    top: 13px;
    right: -23px;
}
.cart__lengthNumber{
    color: black;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
}
nav{
    position: relative;
}
.header__wrapperBurg{
    display: none;
}

@media screen and (max-width: 1280px){
    .header__wrapper{
        height: 110px;
    }
    .header__container{
        max-width: 1280px;
    }
    .logo__container{
        gap: 10px;
    }
    .logo{
        width: 27px;
        height: 21px;
    }
    .burger__background{
        display: none;
    }

    .logo__name{
    font-size: 20px;
    line-height: 21px;
    }
    .header__menu{
    font-size: 17px;
    line-height: 20px;
    column-gap: 61px;
    margin-top: 15px;
    }
    .cart__length{
        top: 5px;
        right: -17px;
    }
    .cart__lengthNumber{
        font-size: 14px;
        line-height: 14px;
    }
    .header__wrapperBurg{
        display: none;
    }
}
@media screen and (max-width: 1024px){
    .header__wrapper{
        height: 81px;
    }
    // .header__container{
    //     max-width: 1280px;
    // }
    .logo__container{
        gap: 6px;
    }
    .logo{
        width: 16px;
        height: 13px;
    }
    .logo__name{
    font-size: 13px;
    line-height: 14px;
    }
    .header__menu{
    font-size: 11px;
    line-height: 13px;
    column-gap: 33px;
    margin-top: 15px;
    }
    .cart__length{
        top: 8px;
        right: -15px;
        width: 8px;
        height: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 2px;
    }
    .cart__lengthNumber{
        font-size: 8px;
        line-height: 8px;
    }
    .header__wrapperBurg{
        display: none;
    }
}


@media screen and (max-width: 400px){
    .header__wrapper{
        display: none;
    }
    .header__wrapperBurg{
        display: flex;
        width: 100%;
        height: 88px;
        align-items: end;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 1);
    }
    .logo__containerBurg{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        gap: 6px;
    }
    .logo{
        width: 23px;
        height: 18px;
    }
    .logo__name{
        font-size: 17px;
        line-height: 18px;
    }
    .burger__button{
        position: absolute;
        top: 55px;
        right: 16px;
    }
    .burger__popUp{
        background-color: rgba(0, 0, 0, 0);
        display: none;
        position: relative;
}
    .burger__popUp_active::before {
        content: '';
        position: absolute;
        top: -88px;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.15);
        z-index: 3;

}
    .burger__popUp_active{
        display: flex;
    }
    .burger__popUp_active .logo__containerBurg{
        backdrop-filter: blur(4px);
    }

    .burger__background{
        box-sizing: border-box;
        position: fixed;
        width: 240px;
        height: 1012px;
        background-color: rgba(16, 16, 16, 1);
        top: 0px;
        right: -240px;
        z-index: 999;
        padding: 55px 30px;
        display: block;
        transition: right 0.3s ease-in-out;
        -webkit-transition: right 0.3s ease-in-out;
        -moz-transition: right 0.3s ease-in-out;
        -ms-transition: right 0.3s ease-in-out;
        -o-transition: right 0.3s ease-in-out;
}
    .header__menu{
        margin-top: 58px;
        font-size: 20px;
        line-height: 24px;
        text-align: start;
        display: flex;
        flex-direction: column;
        column-gap: 0;
        row-gap: 35px;
        width: 180px;
        border-bottom: 1px solid rgba(58, 58, 58, 1);
        padding-bottom: 35px;
    }
    .button__toMain{
        height: 45px;
        width: 170px;
        border-radius: 9px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: center;
        color: rgba(190, 255, 0, 1);
        border: 1px solid rgba(190, 255, 0, 1);
        margin-top: 35px;
        text-transform: uppercase;
    }
}
