.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container{
    width: 1276px;

    color: #BEFF00;
}

.title{
    font-family: 'BB';
    font-size: 150px;
    font-weight: 400;
    line-height: 155px;
    text-align: left;
    max-width: 859px;
    margin-top: 70px;
}

.product__selected{
    display: flex;
    flex-direction: row;
    gap: 109px;
    margin-top: 70px;
}

.controls__image{
    display: grid;
    grid-template-columns: 627px;
}

.controls__btn{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}


.selected__image{
    width: 627px;
}

.controls__btn:first-of-type{
    justify-self: start;
}

.controls__btn:last-of-type{
    justify-self: end;
}


.product__image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__nameBrand{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product__imageDescription{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    max-width: 627px;
    grid-column: 1/-1;
    justify-content: space-between;
}

.product__name{
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.product__brand{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(129, 136, 110, 1);
}

.price{
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}
.product__selected{
    display: flex;
    flex-direction: row;
    padding-bottom: 130px;
}

.product__info{
    display: flex;
    flex-direction: column;
}

.descriptionTitle{
    font-family: 'BB';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 48px;

    color: #BEFF00;
}

.info__description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    
    color: #BEFF00;
     
    border-bottom: 1px solid #BEFF00;

    margin-top: 35px;
    padding-bottom: 35px;
}

.description{
    padding-bottom: 30px;
}

.product__sizes{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #BEFF00;
    
    gap: 10px;

    margin-top: 35px;
}

.selectSizetext{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #81886E;
}

.sizes{
    list-style: none;
    text-decoration: none;

    display: flex;
    flex-direction: row;

    column-gap: 4px;
}
.sizeContainer{
    display: flex;
    align-items: center;
}

.product__colors{
    display: flex;
    flex-direction: row;

    gap: 30px;

    margin-top: 35px;

    align-items: center;
}

.colorText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #81886E;
}

.colorsList{
    list-style: none;
    text-decoration: none;
    gap: 15px;
    display: flex;
    flex-direction: row;
}

.attachmentsList{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.attachment{
    display: flex;
    align-items: center;
    gap: 15px;
}

.attachmentCheckMark{
    width: 15px;
    height: 13px;
}

.attachmentKey{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(129, 136, 110, 1);
}

.attachmentValue{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(190, 255, 0, 1);
}

.product__counter{
    margin-top: 35px;

    display: flex;
    flex-direction: row;

    gap: 35px;
}

.product__counter img{
    display: flex;
    align-self: center;
}

.quantityText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #81886E;
}

.counter{
    display: flex;
    flex-direction: row;

    gap: 20px;

    align-items: center;
    justify-content: center;
}


.product__quantities{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #81886E;
}

.quantityButton{
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 31px;
    height: 31px;

    padding: 6px;
    border-radius: 100px;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.quantityButton:hover{
    border: 1px solid #BEFF00;
}

.addToCartSvg{
    width: 29px;
    height: 28px;
}


.button__addToCart{
    height: 74px;
    width: 359px;
    border-radius: 15px;
    text-transform: uppercase;
    color: rgba(190, 255, 0, 1);
    border: 3px solid rgba(190, 255, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    background-color: transparent;
    margin-top: 35px;
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.button__addToCart:hover{
    color: #000000;
    background-color: #BEFF00;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    
}

path{ 
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.button__addToCart:hover path{
    fill: black;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.oferta{
    display: flex;
    gap: 21px;
    margin-top: 130px;
    margin-bottom: 190px;
}

.text__attention{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(129, 136, 110, 1);
    max-width: 465px;
}

.button__oferta{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    height: 74px;
    width: 323px;
    border-radius: 15px;
    text-transform: uppercase;
    border: 3px solid rgba(190, 255, 0, 1);
    background-color: transparent;
    color: rgba(190, 255, 0, 1);
    cursor: pointer;
}

.button__oferta:hover{
    background-color: #BEFF00;
    color: #000000;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.merch__block{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    column-gap: 52px;
    row-gap: 70px;
    margin-top: 35px;
}

.title__others{
    font-family: 'BB';
    font-size: 150px;
    font-weight: 400;
    line-height: 155px;
    text-align: left;
}

.card__image{
    width: 390px;
    height: 390px;
}

.card__title{
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.card__brand{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(129, 136, 110, 1);
}

.card__price{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.descriptionCard{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.card__nameBrand{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descriptionCard{
    margin-top: 35px;
}

.card{
    list-style: none;
    margin: 0;
    padding: 0;
}
.card:hover{
    cursor: pointer;
}

.card:hover .card__image{
    outline-offset: -3px;
    outline: 3px solid rgba(190, 255, 0, 1);
}

.card:hover .card__price{
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(190, 255, 0, 1);
    
}

.size{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(190, 255, 0, 1);
    background-color: transparent;
    outline: none;
    border: none;
    width: auto;
    padding: 0px 21px;
    height: 36px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.size:hover{
    outline: 1px solid rgba(190, 255, 0, 1);
    outline-offset: -1px;
}

.selected__size{
    font-family: Inter;
    font-size: 25px;
    line-height: 30px;
    outline: 1px solid rgba(190, 255, 0, 1);
    outline-offset: -1px;
}

.color{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 24px;
    height: 24px;
    border-radius: 100px;
}

.color:hover{
    outline-offset: 6px;
    outline: 1px solid rgba(129, 136, 110, 1);
}

.colorDiv{
    width: 24px;
    height: 24px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}



.forFirstChild:first-child{
    border: 1px solid gray;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}


// .color:first-child{
//     border: 1px solid #D9D9D9;
// }

// .selected__color{
//     
// }


.selected__color{
    outline-offset: 6px;
    outline: 1px solid rgba(129, 136, 110, 1);
}

.sizeNotValid{
    color: rgba(129, 136, 110, 1);
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

@media screen and (max-width: 1280px){
    .main__container{
        width: 847px;
    }

    .title{
        font-weight: 400;
        font-size: 100px;
        line-height: 104px;
        margin-top: 50px;
    }

    .title__others{
        font-size: 100px;
        line-height: 104px;
    }

    .product__selected{
        gap: 109px;
        margin-top: 50px;
    }

    .controls__image{
        grid-template-columns: 414px;
    }

    .selected__image{
        width: 414px;
    }

    .product__nameBrand{
        gap: 7px;
    }

    .product__imageDescription{
        margin-top: 25px;
        max-width: 414px;
        grid-column: 1/-1;
    }

    .product__name{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .product__brand{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .price{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    .product__selected{
        padding-bottom: 85px;
    }

    .descriptionTitle{
        font-weight: 400;
        font-size: 30px;
        line-height: 31px;
    }

    .info__description{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;

        margin-top: 25px;
        padding-bottom: 25px;
    }

    .description{
        padding-bottom: 25px;
    }

    .attachmentsList{
        gap: 10px;
    }

    .attachment{
        gap: 9px;
    }

    .attachmentCheckMark{
        width: 10px;
        height: 9px;
    }

    .attachmentKey{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .attachmentValue{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .product__sizes{
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;

        gap: 10px;

        margin-top: 25px;

        
    }

    .selectSizetext{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .sizeNotValid{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .sizes{
        column-gap: 2px;
    }

    .size{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        width: auto;
        padding: 0px 14px;
        height: 23px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    .size:hover{
        outline: 1px solid rgba(190, 255, 0, 1);
        outline-offset: -1px;
    }

    .selected__size{
        font-size: 17px;
        line-height: 21px;
        outline: 1px solid rgba(190, 255, 0, 1);
        outline-offset: -1px;

    }

    .product__colors{
        gap: 25px;

        margin-top: 25px;

        align-items: center;
    }

    .colorText{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .colorsList{
        gap: 9px;
    }

    .color{
        width: 16px;
        height: 16px;
        border-radius: 100px;
    }

    .color:hover{
        outline-offset: 4px;
        outline: 1px solid rgba(129, 136, 110, 1);
    }

    .forFirstChild:first-child{
        border: 1px solid gray;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }

    .selected__color{
        outline-offset: 4px;
        outline: 1px solid rgba(129, 136, 110, 1);
    }

    .product__counter{
        margin-top: 25px;

        gap: 22px;
    }

    .product__counter img{
        width: 12px;
        height: 12px;
    }

    .quantityText{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .counter{
        gap: 9px;
    }

    .product__quantities{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .quantityButton{
        width: 18px;
        height: 18px;

        border-radius: 100px;

        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }

    .quantityButton:hover{
        border: 1px solid #BEFF00;
    }

    .button__addToCart{
        height: 45px;
        width: 215px;

        border: 2px solid rgba(190, 255, 0, 1);
        gap: 9px;

        font-weight: 700;
        font-size: 12px;
        line-height: 15px;

        margin-top: 25px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
    }

    .addToCartSvg{
        width: 17px;
        height: 17px;
    }

    .oferta{
        display: flex;
        gap: 21px;
        margin-top: 130px;
        margin-bottom: 190px;
    }

    .text__attention{
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;

        max-width: 305px;
    }

    .button__oferta{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        width: 194px;
        height: 45px;
        border-radius: 9px;
        border: 2px solid rgba(190, 255, 0, 1);
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
}

    .merch__block{
        column-gap: 33px;
        row-gap: 50px;
        margin-top: 25px;
    }

    .card__image{
        width: 260px;
        height: 260px;
    }

    .card__title{
        font-size: 17px;
        line-height: 21px;
    }

    .card__brand{
        font-size: 12px;
        line-height: 15px;
    }

    .card__price{
        font-size: 17px;
        line-height: 21px;
    }

    .descriptionCard{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .card__nameBrand{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .descriptionCard{
        margin-top: 35px;
    }

    .card{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .card:hover{
        cursor: pointer;
    }

    .card:hover .card__image{
        outline-offset: -3px;
        outline: 3px solid rgba(190, 255, 0, 1);
    }

    .card:hover .card__price{
        padding-bottom: 5px;
        border-bottom: 3px solid rgba(190, 255, 0, 1);
    }
}

@media screen and (max-width: 900px){
    .main__container{
        width: 638px;
    }

    .title{
        font-weight: 400;
        font-size: 60px;
        line-height: 62px;
        margin-top: 35px;
    }

    .title__others{
        font-size: 60px;
        line-height: 62px;
    }

    .product__selected{
        gap: 77px;
        margin-top: 35px;
    }

    .controls__image{
        grid-template-columns: 313px;
    }

    .selected__image{
        width: 313px;
    }

    .product__nameBrand{
        gap: 5px;
    }

    .product__imageDescription{
        margin-top: 20px;
        max-width: 313px;
        grid-column: 1/-1;
    }

    .product__name{
        font-size: 15px;
        line-height: 18px;
    }

    .product__brand{
        font-size: 11px;
        line-height: 13px;
    }

    .price{
        font-size: 15px;
        line-height: 18px;
    }

    .product__selected{
        padding-bottom: 70px;
    }

    .descriptionTitle{
        font-size: 18px;
        line-height: 19px;
    }

    .info__description{
        font-size: 11px;
        line-height: 13px;

        margin-top: 20px;
        padding-bottom: 20px;
    }

    .description{
        padding-bottom: 20px;
    }

    .attachmentsList{
        gap: 7px;
    }

    .attachment{
        gap: 8px;
    }

    .attachmentCheckMark{
        width: 7px;
        height: 6px;
    }

    .attachmentKey{
        font-size: 11px;
        line-height: 13px;
    }

    .attachmentValue{
        font-size: 11px;
        line-height: 13px;
    }

    .product__sizes{
        font-size: 15px;
        line-height: 18px;

        gap: 8px;

        margin-top: 16px;
    }

    .selectSizetext{
        font-size: 11px;
        line-height: 13px;
    }

    .sizeNotValid{
        font-size: 11px;
        line-height: 13px;
    }

    .sizes{
        column-gap: 1px;
    }

    .size{
        font-size: 15px;
        line-height: 18px;
        width: auto;
        padding: 0px 12px;
        height: 19px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .size:hover{
        outline: 1px solid rgba(190, 255, 0, 1);
        outline-offset: -1px;
    }

    .selected__size{
        font-size: 15px;
        line-height: 18px;
        outline: 1px solid rgba(190, 255, 0, 1);
        outline-offset: -1px;

    }

    .product__colors{
        gap: 17px;

        margin-top: 18px;
    }

    .colorText{
        font-size: 11px;
        line-height: 13px;
    }

    .colorsList{
        gap: 9px;
    }

    .color{
        width: 10px;
        height: 10px;
    }

    .color:hover{
        outline-offset: 3px;
        outline: 1px solid rgba(129, 136, 110, 1);
    }

    .forFirstChild:first-child{
        border: 1px solid gray;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }

    .selected__color{
        outline-offset: 3px;
        outline: 1px solid rgba(129, 136, 110, 1);
    }

    .product__counter{
        margin-top: 23px;

        gap: 18px;
    }

    .product__counter img{
        width: 9px;
        height: 9px;
    }

    .quantityText{
        font-size: 11px;
        line-height: 13px;
    }

    .counter{
        gap: 7px;
    }

    .product__quantities{
        font-size: 11px;
        line-height: 13px;
    }

    .quantityButton{
        width: 15px;
        height: 15px;
    }

    .quantityButton:hover{
        border: 1px solid #BEFF00;
    }

    .button__addToCart{
        height: 28px;
        width: 139px;
        border: 1px solid rgba(190, 255, 0, 1);
        gap: 5px;
        font-size: 8px;
        line-height: 10px;
        margin-top: 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .addToCartSvg{
        width: 11px;
        height: 11px;
    }

    .oferta{
        gap: 74px;
        margin-top: 70px;
        margin-bottom: 110px;
    }

    .text__attention{
        font-size: 11px;
        line-height: 13px;

        max-width: 183px;
    }

    .button__oferta{
        font-size: 8px;
        line-height: 10px;
        width: 125px;
        height: 28px;
        border-radius: 5px;
        border: 1px solid rgba(190, 255, 0, 1);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .merch__block{
        column-gap: 25px;
        row-gap: 35px;
        margin-top: 20px;
    }

    .card__image{
        width: 196px;
        height: 196px;
    }

    .card__title{
        font-size: 11px;
        line-height: 13px;
    }

    .card__brand{
        font-size: 8px;
        line-height: 10px;
    }

    .card__price{
        font-size: 11px;
        line-height: 13px;
    }

    .card__nameBrand{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .descriptionCard{
        margin-top: 20px;
    }

    .card:hover .card__image{
        outline-offset: -2px;
        outline: 2px solid rgba(190, 255, 0, 1);
    }

    .card:hover .card__price{
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(190, 255, 0, 1);
    }
}

@media screen and (max-width: 400px) {
    .main__container{
        width: 361px;
    }

    .title{
        font-size: 50px;
        line-height: 52px;
        margin-top: 80px;
    }

    .title__others{
        font-size: 50px;
        line-height: 52px;
    }

    .product__selected{
        gap: 100px;
        margin-top: 35px;
        flex-direction: column;
        padding-bottom: 100px;
    }

    .controls__image{
        grid-template-columns: 361px;
    }

    .selected__image{
        width: 361px;
    }

    .product__nameBrand{
        gap: 4px;
    }

    .product__imageDescription{
        margin-top: 20px;
        max-width: 361px;
        grid-column: 1/-1;
    }

    .product__name{
        font-size: 17px;
        line-height: 21px;
    }

    .product__brand{
        font-size: 14px;
        line-height: 17px;
    }

    .price{
        font-size: 17px;
        line-height: 21px;
    }

    .descriptionTitle{
        font-size: 30px;
        line-height: 31px;
        text-align: center;
    }

    .info__description{
        font-size: 17px;
        line-height: 21px;

        margin-top: 30px;
        padding-bottom: 30px;
    }

    .description{
        padding-bottom: 35px;
    }

    .attachmentsList{
        gap: 10px;
    }

    .attachment{
        gap: 20px;
    }

    .attachmentCheckMark{
        width: 13px;
        height: 11px;
    }

    .attachmentKey{
        font-size: 17px;
        line-height: 21px;
    }

    .attachmentValue{
        font-size: 17px;
        line-height: 21px;
    }

    .product__sizes{
        font-size: 17px;
        line-height: 21px;

        gap: 5px;

        margin-top: 33px;
    }

    .selectSizetext{
        font-size: 17px;
        line-height: 21px;
    }

    .sizeNotValid{
        font-size: 17px;
        line-height: 21px;
    }

    .sizes{
        column-gap: 12px;
    }

    .size{
        font-size: 17px;
        line-height: 21px;
        width: auto;
        padding: 0px 15px;
        height: 26px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}

    .size:hover{
        outline: 1px solid rgba(190, 255, 0, 1);
        outline-offset: -1px;
    }

    .selected__size{
        font-size: 17px;
        line-height: 21px;
        outline: 1px solid rgba(190, 255, 0, 1);
        outline-offset: -1px;

    }

    .product__colors{
        gap: 14px;

        margin-top: 30px;
    }

    .colorText{
        font-size: 17px;
        line-height: 21px;
    }

    .colorsList{
        gap: 14px;
    }

    .color{
        width: 17px;
        height: 17px;
    }

    .color:hover{
        outline-offset: 2px;
        outline: 1px solid rgba(129, 136, 110, 1);
    }

    .forFirstChild:first-child{
        border: 1px solid gray;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }

    .selected__color{
        outline-offset: 2px;
        outline: 1px solid rgba(129, 136, 110, 1);
    }

    .product__counter{
        margin-top: 29px;

        gap: 20px;
    }

    .product__counter img{
        width: 13px;
        height: 13px;
    }

    .quantityText{
        font-size: 17px;
        line-height: 21px;
    }

    .counter{
        gap: 20px;
    }

    .product__quantities{
        font-size: 17px;
        line-height: 21px;
    }

    .quantityButton{
        width: 19px;
        height: 19px;
    }

    .quantityButton:hover{
        border: 1px solid #BEFF00;
    }

    .button__addToCart{
        width: 244px;
        height: 45px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 35px;
        gap: 10px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
        align-self: center;
    }

    .addToCartSvg{
        width: 19px;
        height: 19px;
    }

    .oferta{
        flex-direction: column;
        gap: 35px;
        margin-top: 100px;
        margin-bottom: 135px;
        align-items: center;
    }

    .text__attention{
        font-size: 17px;
        line-height: 21px;

        max-width: 236px;
        text-align: center;
    }

    .button__oferta{
        font-size: 14px;
        line-height: 17px;
        width: 216px;
        height: 45px;
        border-radius: 9px;
        border: 1px solid rgba(190, 255, 0, 1);
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
    }

    .merch__block{
        column-gap: 15px;
        row-gap: 35px;
        margin-top: 35px;
    }

    .cardImage__holder{
        width: 173px;
        height: 173px;
    }

    .card__image{
        width: 173px;
        height: 173px;
    }

    .card__title{
        font-size: 17px;
        line-height: 21px;
        font-weight: 400;
    }

    .card__brand{
        display: none;
    }

    .card__price{
        font-size: 14px;
        line-height: 17px;
        color: rgba(129, 136, 110, 1);
    }

    .descriptionCard{
        margin-top: 8px;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    .card:hover .card__image{
        outline-offset: -1px;
        outline: 1px solid rgba(190, 255, 0, 1);
    }

    .card:hover .card__price{
        padding-bottom: 1px;
        border-bottom: 1px solid rgba(190, 255, 0, 1);
    }
}