.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 90px;
    gap: 70px;

    flex: 1 0 auto;
}

.error{
    font-family: 'BB';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 155px;

    color: #BEFF00;
}

.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #81886E;
}

.textMob{
    display: none;
}

.button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #BEFF00;
    background: transparent;
    border: 3px solid #BEFF00;
    border-radius: 15px;
    padding: 25px 50px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    cursor: pointer;
}

.button:hover{
    background-color: rgba(190, 255, 0, 1);
    color: #000000;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

@media screen and (max-width:1280px){
    .container{
        margin-top: 50px;
        margin-bottom: 90px;
        gap: 50px;
    }

    .error{
        font-size: 100px;
        line-height: 104px;
    }

    .text{
        font-size: 17px;
        line-height: 21px;
    }

    .textMob{
        display: none;
    }

    .button{
        font-size: 12px;
        line-height: 15px;
        border-radius: 9px;
        padding: 15px 30px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
    }
}

@media screen and (max-width:900px){
    .container{
        margin-top: 50px;
        margin-bottom: 90px;
        gap: 50px;
    }

    .error{
        font-size: 100px;
        line-height: 104px;
    }

    .text{
        font-size: 17px;
        line-height: 21px;
    }

    .button{
        font-size: 12px;
        line-height: 15px;
        border-radius: 9px;
        padding: 15px 30px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
    }
}

@media screen and (max-width:400px){
    .container{
        margin-top: 80px;
        margin-bottom: 80px;
        gap: 35px;
    }

    .error{
        font-size: 50px;
        line-height: 52px;
    }

    .text{
        display: none;
    }

    .textMob{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        display: block;
        font-size: 17px;
        line-height: 21px;
        max-width: 262px;
        text-align: left;
        color: #81886E;
    }

    .button{
        font-size: 14px;
        line-height: 17px;
        border-radius: 9px;
        padding: 14px 30px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
}
}